name: Bisect Regressions

on:
  workflow_dispatch:
    inputs:
      good:
        description: 'good commit'
        default: 'v1.3.5'
        required: true
      bad:
        description: 'bad commit'
        default: 'HEAD'
        required: true
      issue:
        description: 'GH issue'
        required: true

jobs:
  bisect:
    runs-on: ubuntu-latest
    env:
      GH_ISSUE: ${{ github.event.inputs.issue }}
    steps:
    - name: Update for build environment
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential
        sudo apt-get clean
    - name: Setting conda path
      run: echo "$CONDA/bin" >> $GITHUB_PATH
    - name: Update conda
      run: |
        conda config --set quiet true --set always_yes true
        conda update -n base -c defaults conda
        conda list
    - name: Checkout pandas
      uses: actions/checkout@v2
    - name: Fetch git tags
      run: |
        git remote -v
        git fetch --all --tags
    - name: Copy code sample and runner script
      run: |
          cp bisect/$GH_ISSUE.py ..
          cp bisect/runner.sh ..
          sudo chmod +x ../runner.sh
          ls -latr ..
    - name: Update conda environment
      run: |
        conda env create -n pandas-dev --file=environment.yml
        source activate pandas-dev
        conda list
    - name: Build pandas
      run: |
        git checkout master
        git status
        source activate pandas-dev
        python setup.py build_ext -i -j 2
        python -m pip install --no-build-isolation -e .
        conda list pandas
    - name: Import pandas and print version
      run: |
        source activate pandas-dev
        python -c "import pandas as pd;print(pd.__version__)"
    - name: git bisect start ${{ github.event.inputs.bad }} ${{ github.event.inputs.good }}
      run: |
        git bisect start ${{ github.event.inputs.bad }} ${{ github.event.inputs.good }}
        git bisect log
    - name: git bisect run
      run: |
        source activate pandas-dev
        git bisect run ../runner.sh $GH_ISSUE
        git bisect log
